# Chave da API WeatherAPI (obtenha em https://www.weatherapi.com/)
WEATHER_API_KEY=sua_chave_aqui

# Portas dos serviços
SERVICE_A_PORT=8080
SERVICE_B_PORT=8081

# URLs dos serviços
SERVICE_B_URL=http://localhost:8081

# Configurações OTEL
ZIPKIN_URL=http://localhost:9411
OTEL_COLLECTOR_URL=http://localhost:4317
OTEL_SERVICE_NAME=weather-service 